! special
! [number] before hex color code is the opacity level (Must be
! paired with URxvt.depth: 32)
URxvt.foreground:   [100]#ffffff
URxvt.background:   [85]#000000
URxvt.cursorColor:  #ffffff

! black
URxvt.color0:       #101010
URxvt.color8:       #404040

! red
URxvt.color1:       #e84f4f
URxvt.color9:       #d23d3d

! green
URxvt.color2:       #b8d68c
URxvt.color10:      #a0cf5d

! yellow
URxvt.color3:       #e1aa5d
URxvt.color11:      #f39d21

! blue
URxvt.color4:       #7dc1cf
URxvt.color12:      #4e9fb1

! magenta
URxvt.color5:       #9b64fb
URxvt.color13:      #8542ff

! cyan
URxvt.color6:       #6d878d
URxvt.color14:      #42717b

! white
URxvt.color7:       #dddddd
URxvt.color15:      #dddddd

! Force a visual with alpha channel to create transparency
URxvt.depth: 32

! DPI
URxvt.dpi: 96

! Type of subpixel antialiasing (none, rgb, bgr, vrgb or vbgr)
Xft.rgba: rgb
Xft.antialias: 1

! LCD filter
Xft.lcdfilter: lcddefault

! Hinting
Xft.hinting: 1
Xft.autohint: 0

! Degree of hinting to use (hintnone, hintslight, hintmedium, or hintfull)
Xft.hintstyle: hintfull

! Font declaration
URxvt.font: xft:Hack:pixelsize=12:style=Regular
URxvt.boldFont: xft:Hack:pixelsize=12:style=Bold
URxvt.italicFont: xft:Hack:pixelsize=12:style=Italic
URxvt.boldItalicfont: xft:Hack:size=12:style=Bold Italic

! Enable or disable scroll bar
URxvt.scrollBar: true

! Place scroll bar at the right
URxvt.scrollBar_right: true

! Scroll bar style
URxvt.scrollstyle: plain

! Disable default terminal contents printing when pressing PrintScreen
! Use gnome-screenshot to printscreen by editing i3 dotfile
URxvt.print-pipe: "cat > /dev/null"

! Set internal border (border)
URxvt.internalBorder: 10
