! special
! [number] before hex color code is the opacity level (Must be
! paired with URxvt.depth: 32)
URxvt.foreground:   #fdfdfd
URxvt.background:   #000000
URxvt.cursorColor:  #fdfdfd

! black
URxvt.color0:       #282a36
URxvt.color8:       #414458

! red
URxvt.color1:       #5adecd
URxvt.color9:       #18e3c8

! green
URxvt.color2:       #f37f97
URxvt.color10:      #ff4971

! yellow
URxvt.color3:       #f2a272
URxvt.color11:      #ff8037

! blue
URxvt.color4:       #8897f4
URxvt.color12:      #556fff

! magenta
URxvt.color5:       #c574dd
URxvt.color13:      #b043d1

! cyan
URxvt.color6:       #79e6f3
URxvt.color14:      #3fdcee

! white
URxvt.color7:       #fdfdfd
URxvt.color15:      #bebec1

! Force a visual with alpha channel to create transparency
!URxvt.depth: 32

! DPI
URxvt.dpi: 96

! Type of subpixel antialiasing (none, rgb, bgr, vrgb or vbgr)
Xft.rgba: rgb
Xft.antialias: 1

! LCD filter
Xft.lcdfilter: lcddefault

! Hinting
Xft.hinting: 1
Xft.autohint: 0

! Degree of hinting to use (hintnone, hintslight, hintmedium, or hintfull)
Xft.hintstyle: hintfull

! Font declaration
URxvt.font: xft:Inconsolata:size=11
URxvt.boldFont: xft:Inconsolata:bold:size=11
URxvt.italicFont: xft:Inconsolata:italic:size=11
URxvt.boldItalicfont: xft:Inconsolata:bold:italic:size=11

! Place scroll bar at the right
URxvt.scrollBar: false

! Disable default terminal contents printing when pressing PrintScreen
! Use gnome-screenshot to printscreen by editing i3 dotfile
URxvt.print-pipe: "cat > /dev/null"

! Set internal border (border)
URxvt.internalBorder: 15
