! special
! [number] before hex color code is the opacity level (Must be
! paired with URxvt.depth: 32)
URxvt.foreground:   [100]#ffffff
URxvt.background:   [95]#161616
URxvt.cursorColor:  #ffffff

! black
URxvt.color0:       #222222
URxvt.color8:       #666666

! red
URxvt.color1:       #e84f4f
URxvt.color9:       #d23d3d

! green
URxvt.color2:       #b7ce42
URxvt.color10:      #bde077

! yellow
URxvt.color3:       #fea63c
URxvt.color11:      #ffe863

! blue
URxvt.color4:       #66aabb
URxvt.color12:      #aaccbb

! magenta
URxvt.color5:       #b7416e
URxvt.color13:      #e16a98

! cyan
URxvt.color6:       #6d878d
URxvt.color14:      #42717b

! white
URxvt.color7:       #dddddd
URxvt.color15:      #cccccc

! Force a visual with alpha channel to create transparency
URxvt.depth: 32

! DPI
Xft.dpi: 96

! Type of subpixel antialiasing (none, rgb, bgr, vrgb or vbgr)
Xft.rgba: rgb
Xft.antialias: 1

! LCD filter
Xft.lcdfilter: lcddefault

! Hinting
Xft.hinting: 1
Xft.autohint: 0

! Degree of hinting to use (hintnone, hintslight, hintmedium, or hintfull)
Xft.hintstyle: hintslight

! Font declaration
URxvt.font: xft:Hack:size=10:style=Regular, xft:Noto Sans Mono CJK JP:size=10:style=Regular
URxvt.boldFont: xft:Hack:size=10:style=Bold, xft:Noto Sans Mono CJK JP:size=10:style=Bold
URxvt.italicFont: xft:Hack:size=10:style=Italic, xft:Noto Sans Mono CJK JP:size=10:style=Regular
URxvt.boldItalicFont: xft:Hack:size=10:style=Bold Italic, xft:Noto Sans Mono CJK JP:size=10:style=Regular

! Spaces between letters
URxvt.letterSpace: 0

! Enable or disable scroll bar
URxvt.scrollBar: false

! Disable default terminal contents printing when pressing PrintScreen
! Use gnome-screenshot to printscreen by editing i3 dotfile
URxvt.print-pipe: "cat > /dev/null"

! Set internal border (border)
URxvt.internalBorder: 10

! Extension
URxvt.perl-ext-common: resize-font

! Disable default keybinds to enable usage of Ctrl+Shift
URxvt.iso14755: false
URxvt.iso14755_52: false
